.signIn-Div {
  background-color: #129489;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
 padding: 24px;
  
}
.signIn-Card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  /* padding:24px; */
  /* height:70vh;
  width: 40vw; */
  max-width:50vh;
  border-radius: 0px;

  /* width: 300vh; */
}
.signIn-Card .ant-card-body{
  width:fit-content !important;
}
.signIn-Username {
  margin-top: 5px;
  /* width: 100%; */
  /* padding: 15px; */
  height: 5vh;
  border: none;
  margin-bottom: 1px;
  border-bottom: 1px solid #333;
  border-radius: 0;
}
/* input {
    display: block;
    outline: none;
    border: none;
    height: 2em;
    font-size: 16px;
    margin-bottom: 1px;
    border-bottom: 1px solid #333;
  } */

.signIn-Username:focus {
  border-bottom: 1px solid dimgray;
  box-shadow: 0 1px 0 0 dimgray;
}
.signIn-Password:focus {
  border-bottom: 1px solid dimgray;
  box-shadow: 0 1px 0 0 dimgray;
}

.signIn-Password {
  margin-top: 5px;
  height: 5vh;
  border: none;
  margin-bottom: 1px;
  border-bottom: 1px solid #333;
  border-radius: 0;
}
.signIn-Button {
  border: none;
  margin-top: 5px;
  width: 100%;
  height: 35px;
  background-color: #129489;
  color: white;
  margin-bottom: 10px;
  border-radius: 0;
}
.signIn-Img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Heading {
  text-align: center;
  font-weight: bolder;
  color: #129489;
  font-size: 32px;
}
.signIn-Link {
  color: #129489;
  margin-bottom: 10px;
  font-size: 16px
}

.ant-card .ant-card-body {
  /* padding: 24px; */
  /* border-radius: 0 0 0px 0px; */
  width: 55vh;
}
.Sub-Heading {
  margin-top: none;
  text-align: center;
  font-weight: lighter;
  font-size: 20px
}


.signIn-Checkbox {
  /* display: inline-block; */
  margin-left: 10px;
}
